<h2>More information about {{model.name}}'s {{model.type}}:</h2>

{{update-occupation occupation=model update="update"}}

{{occupation-detail occupation=model destroyOccupation="destroyOccupation"}}

{{new-review saveReview="saveReview" occupation=model}}
